* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color:antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav {
    background-color: lightblue;
}
.titulo {
    padding: 30px 20px;
    text-align: center;
    font-size: 2em;
}
.menu {
margin-right: 25px;
text-decoration: none;
font-weight: bold;

}
.main {
    background-color: rgba(255, 255, 255, 0.785);
    padding: 20px;
    width: 70%;
} 
nav {
    padding: 10px;
}
.menu:hover {
    text-decoration: underline;
    color:rgb(20, 130, 35)
}
.description{
    text-align: justify;
    background-color:white;
    box-shadow: 3px 3px 5px rgba(136, 132, 132, 0.795);
    padding: 20px;
    border-radius: 20px;
}
.video {
    position: absolute;
    top: 180px;
    right: 20px;
}
.video1 {
    position: absolute;
    top: 380px;
    right: 20px;
}
.imagem {
    position: absolute;
    top: 580px;
    right: 30px;
}
.footer, h1 {
    text-align: center;
    color: white;
    background-color: green;
    font-size: 1.3em;
    margin: 0px;
    padding: 20px;
}
h2, h3 {
    color: green;
    padding: 20px;
}


